@import ../main/main


.page-wrap
    background: url($main-bg) top 6rem center/100% no-repeat


.main-header.--logo
    grid-column: 1 / -1
    grid-row: 1
    margin-bottom: 6rem
    display: grid

    // We want the page to have a single h1 tag, and we want our logo in the
    // header. Ideally we'd have text and image separate. However, to ensure
    // the correct spacing, we're using an image with both logo and text.
    // But, we still want a h1 with the appropriate text, for screen readers and
    // SEO. So here we have a hack: an h1 with our name, invisible due to
    // font-size: 0, and then replaced with a background image (logo+same text)
    .__logo
        background: url($header-logo) bottom center / 100% no-repeat
        width: 100%
        font-size: 0

    .__slogan
        color: rgba(9, 98, 142, 0.6)
        font-weight: $weight_light
        line-height: 3rem
        font-family: $font-family

    +respond--mini
        grid-template-columns: $grid-columns--mini
        padding-top: 8rem

        .__logo
            grid-column: 2

        .__slogan
            grid-column: 2
            font-size: 1.2rem
            text-align: center

    +respond--small
        grid-template-columns: $grid-columns--small
        padding-top: 5.7rem
        grid-row-gap: 1.4rem

        .__logo
            grid-column: 2 / -2
            height: 6rem

        .__slogan
            grid-column: 2 / -2
            font-size: $size_medium
            text-align: center

    +respond--medium
        grid-template-columns: $grid-columns--medium
        padding-top: 6rem
        grid-row-gap: 1.5rem

        .__logo
            grid-column: 3 / -4
            height: 7.1rem

        .__slogan
            grid-column: 3 / -5
            font-size: $size_large
            text-align: right


.intro-video
    grid-column: wide
    width: 100%
    box-shadow: 0 0.3rem 1rem 0 transparentize($drop-shadow, 0.76), 0 1rem 4rem 0rem transparentize($drop-shadow, 0.9)
    border-radius: 0.4rem
    cursor: pointer
    outline: none


.intro-text
    grid-column: wide

    .__heading
        font-weight: $weight_bold
        font-size: $size_large
        line-height: 3rem
        font-family: $font-family
        margin: 3rem 0

    +respond--mini
        .__heading
            font-size: 2.4rem

        .__desc
            font-size: $size_small


.sign-up
    grid-column: wide
    margin: 6rem auto 3rem
    text-align: center

    .__img
        +image($img-signup)
        height: 19.1rem

    .__button
        +button--big($white, $green, $green-dark)

    .__link
        +text--link
        position: relative
        top: 1.5rem
        font-weight: $weight_semi-bold

    +respond--mini
        .__img
            width: 100%
            margin: 0 auto 4.5rem

        .__link
            font-size: $size_medium

    +respond--small
        .__img
            width: 23.5rem
            margin: 0 auto 4.5rem

        .__link
            font-size: $size_large

    +respond--medium
        .__img
            width: 23.5rem
            margin: 3rem auto 4.5rem

        .__link
            font-size: $size_large
