@import ../main/main


.intro-text
    grid-column: narrow
    margin: 1.5rem 0 6rem


.featured-projects
    color: $blue

    .__item
        padding-bottom: 0.3rem

    .__project
        padding: 3rem
        border-radius: 0.3rem
        background: transparentize($blue-bright, 0.75)

    .__link
        text-decoration: none

    .__logo
        vertical-align: middle
        width: 3rem
        height: 3rem
        margin: 0 0.5rem 0 0

    .__name
        position: relative
        top: 0.4rem
        display: inline-block
        font-weight: $weight_ultra-bold
        font-size: $size_large
        line-height: 3rem
        font-family: $font-family
        color: $blue-dark

    .__desc
        font-style: italic
        // Text displayed on one line
        white-space: nowrap

    +respond--mini
        grid-column: 2
        font-size: $size_tiny

        // Fade effect for the right side of the projects list at small widths
        .__fader
            position: absolute
            z-index: 5
            right: 0
            width: 40vw
            height: 21rem
            background: linear-gradient(90deg, rgba(255, 255, 255, 0), $white 70%)

        .__item
            padding-left: 0.5rem
            margin-left: -0.5rem

        .__project
            padding: 1.5rem 0 1.5rem 1rem

        .__name
            font-size: $size_medium

        .__desc
            font-size: $size_tiny

    +respond--small
        grid-column: 2 / -2
        // Align list item numbers to column 1
        position: relative
        left: 3rem

        // Fade effect for the right side of the projects list at small widths
        .__fader
            position: absolute
            z-index: 5
            right: 0
            width: 40vw
            height: 21rem
            background: linear-gradient(90deg, rgba(255, 255, 255, 0), $white 70%)

        .__item
            padding-left: 0.5rem
            margin-left: -0.5rem

        .__project
            padding: 1.5rem 0 1.5rem 1rem

    +respond--medium
        grid-column: 3 / -3

        // Align list item numbers in the middle of column 1
        .__item
            padding-left: 1.5rem
            margin-left: -1.5rem


.sign-up
    text-align: center
    grid-column: wide

    .__img
        +image($img-projects-signup)
        max-width: 33rem
        height: 17.4rem
        margin: 0 auto 4.5rem

    .__button
        +button--big($white, $green, $green-dark)
        margin: 0 auto

    .__link
        +text--link
        position: relative
        top: 1.5rem
        font-weight: $weight_semi-bold
        font-size: $size_large

    +respond--mini
        margin: 6rem auto 1.5rem

        .__img
            max-width: 25rem

        .__link
            font-size: $size_medium

    +respond--small
        margin: 6rem auto 1.5rem

    +respond--medium
        margin: 10.5rem auto 1.5rem
