@import ../../main/main


.page-wrap
    background: #e5f9fd


.main-header.--logo-small
    height: 24rem
    grid-column: 1 / -1

    .__title
        position: relative
        top: 7.8rem
        font-weight: $weight_ultra-bold
        font-size: 2.7rem
        line-height: 3rem
        font-family: $font-family
        color: $blue-dark
        text-align: center

    .__title:before
        +image($auth-header-logo)
        display: block
        width: 8rem
        height: 8.4rem
        margin: 0 auto 5.4rem
        content: " "

    +respond--mini
        height: 27rem


.auth-box
    border-radius: 0.6rem
    border: 0.1rem solid rgba(123, 167, 192, 0.15)
    color: $blue-dark
    background: $white

    +respond--mini
        grid-column: 1 / last

    +respond--small
        grid-column: 1 / last

    +respond--medium
        grid-column: 5 / -5


.auth-box.--form
    margin: 3rem 0 6rem
    padding: 3rem

    .__intro
        margin: 0 0 3rem

    .__link
        +text--link
        font-weight: $weight_normal
        font-size: $size_small
        line-height: 3rem
        font-family: $font-family

    .__img
        +image($auth-img-reset)
        display: block
        width: 12.3rem
        height: 19.3rem
        margin: 3rem auto 0
        content: " "


.reset-form
    .__label
        font-weight: $weight_semi-bold
        font-size: $size_tiny
        line-height: 3rem
        font-family: $font-family
        color: $blue-dark

    // Show labels on the top border of a field
    // when the field gains focus
    .__label
        position: relative
        visibility: hidden
        padding: 0 0.3rem
        margin: -3rem -3rem 0

    .__label.--email,
    .__label.--passphrase
        top: -7.2rem
        left: 1.5rem

    .__label.--email:before,
    .__label.--passphrase:before
        position: relative
        top: 1.8rem
        left: -0.6rem
        display: block
        height: 1rem
        background: $white
        content: " "

    .__label.--email:before
        width: 4.2rem

    .__label.--passphrase:before
        width: 10.7rem

    .__field
        font-weight: $weight_light
        font-size: $size_medium
        line-height: 3rem
        font-family: $font-family
        width: 100%
        height: 4.5rem
        margin: 0
        padding: 0 1.5rem
        border: 0.1rem solid #7ba7c0
        border-radius: 0.6rem
        color: transparentize($blue-dark, 0.6)

    .__field:focus
        color: $blue-dark

    // Show label when field gains focus or
    // when field contains user input
    .__field:focus + .__label,
    .__field:not(:placeholder-shown) + .__label
        visibility: visible
        color: $blue-dark

    .__field:focus::placeholder
        color: transparent

    .__button
        +button--big($white, $green, $green-dark)
        margin: 2.1rem auto 0

    +respond--mini
        .__button
            padding: 0.9rem 7.8rem 1.2rem

    +respond--small
        // Button spans the width of auth-box with padding
        .__button
            padding: 1.5rem 12.3rem 1.2rem

    +respond--medium
        // Button spans the width of auth-box with padding
        .__button
            padding: 1.5rem 12.3rem 1.2rem
