<footer class="bottom-footer">
  <div class="footer-logo">
    <a href="/"><div class="__img"></div></a>
  </div>
  <div class="footer-nav">
    <ul class="__col1">
      <li><a class="__link" href="/how-it-works">How it works</a></li>
      <li><a class="__link" href="https://blog.snowdrift.coop">Blog</a></li>
      <li><a class="__link" href="https://community.snowdrift.coop">Forum</a>
      </li>
      <li><a class="__link" href="https://gitlab.com/snowdrift">Source
      Code</a></li>
      <li><a class="__link" href="https://wiki.snowdrift.coop">Wiki</a></li>
    </ul>
    <ul class="__col2">
      <li><a class="__link" href="/about">About</a></li>
      <li><a class="__link" href="/contact">Contact</a></li>
      <li><a class="__link" href="/donate">Donate</a></li>
      <li><a class="__link" href="/sponsors">Our Sponsors</a></li>
      <li><a class="__link" href="/privacy">Privacy Policy</a></li>
      <li><a class="__link" href="/terms">Terms of Service</a></li>
    </ul>
    <p class="__col3">Our free/libre/open licenses: <a class="__link"
    href="https://creativecommons.org/licenses/by-sa/4.0">CC BY‑SA</a> for
    content except <a class="__link" href="/trademarks">trademarks</a>, and <a
    class="__link" href="https://www.gnu.org/licenses/agpl">GNU AGPLv3+</a> for
    code.</p>
  </div>

  <p class="partners-title">we are <a class="__link"
  href="https://wiki.snowdrift.coop/community/partners">proud partners</a>
  of:</p>

  <div class="partners-logos">
    <div class="__logos">
      <a href="https://opensource.org/">
        <div class="__logo --osi"></div>
      </a>
      <a href="https://questioncopyright.org/">
        <div class="__logo --qco"></div>
      </a>
      <a href="https://www.openinventionnetwork.com/">
        <div class="__logo --oin"></div>
      </a>
      <a href="http://copyfree.org/">
        <div class="__logo --cfi"></div>
      </a>
      <a href="https://osuosl.org/">
        <div class="__logo --osl"></div>
      </a>
    </div>
  </div>
</footer>
