@import ../../main/main


.intro-text
    margin: 1.5rem 0 3rem
    grid-column: wide


// Delete link button
.alerts-delete
    grid-column: wide
    // Offset icon position
    position: relative
    left: -1rem
    margin: 0 0 3rem
    text-align: right

    .__button
        font-weight: $weight_ultra-bold
        font-style: italic
        color: $red

    .__button:after
        +image($icon-pi-delete)
        position: relative
        top: 1rem
        left: 1rem
        display: inline-block
        width: 3.4rem
        height: 3.6rem
        content: " "

    // Scale down button and its icon
    +respond--mini
        .__button
            font-size: $size_small
            line-height: 1.25

        .__button:after
            top: 0.6rem
            width: 2.4rem
            height: 2.6rem

    +respond--small
        .__button
            font-size: $size_small
            line-height: 1.25
