@import ../../main/main
@import ../../main/dashboard


.payment-option
    .__status
        font-weight: $weight_normal
        font-size: $size_small
        line-height: 3rem
        font-family: $font-family
        color: $blue

    .__box
        border: 0.2rem solid $blue-bright
        border-radius: 0.3rem

    .__button.--setup, .__button.--update
        +button--small($white, $green, $green-dark)

    .__logo.--stripe
        +image($logo-stripe)
        width: 13rem
        height: 5.3rem
        content: " "

    +respond--mini
        grid-column: 2
        .__button
            margin: 3rem auto 1.5rem

        .__logo.--stripe
            margin: 0 auto 3rem

    +respond--small
        grid-column: 2 / -2

        .__button
            margin: 3rem auto 1.5rem

        .__logo.--stripe
            margin: 0 auto 3rem

    +respond--medium
        grid-column: 4 / -2

        .__button.--setup
            display: inline-block
            margin: 3rem

        .__logo.--stripe
            display: inline-block
            position: relative
            top: 2rem
            right: -18rem


.payment-option.--active
    border-radius: 0.3rem
    border: 0.1rem solid $blue-bright

    .__box.--update
        border: 0
        border-radius: 0
        background: radial-gradient(circle at 6% 10%, rgba(255, 255, 255, 0.5) 0.5%, $blue-bright 15%)

    .__status
        width: 5.1rem
        font-weight: $weight_semi-bold
        color: $blue-dark

    .__status:before
        +image($icon-pi-active)
        width: 3.8rem
        height: 3.5rem
        content: " "

    .__button.--delete
        font-weight: $weight_ultra-bold
        font-style: italic
        color: $red

    .__button.--delete:after
        +image($icon-pi-delete)
        width: 3.4rem
        height: 3.6rem
        content: " "

    +respond--mini
        .__box
            padding: 1.5rem

        .__box.--update
            background: radial-gradient(circle at center 5%, rgba(255, 255, 255, 0.5) 1%, $blue-bright 30%)

        .__status
            margin: -2rem auto 0

        .__status:before
            display: block
            position: relative
            left: 1rem

        .__button.--update
            margin: 1.5rem auto 3rem

        .__logo.--stripe
            margin: 0 auto

        .__box.--delete
            text-align: center

        .__button.--delete
            font-size: $size_tiny
            line-height: 1.25

        .__button.--delete:after
            display: block
            margin: 1rem auto 0

    +respond--small
        .__box
            padding: 1.5rem

        .__box.--update
            background: radial-gradient(circle at center 5%, rgba(255, 255, 255, 0.5) 1%, $blue-bright 30%)

        .__status
            margin: -2rem auto 0

        .__status:before
            display: block
            position: relative
            left: 1rem

        .__button.--update
            margin: 1.5rem auto 3rem

        .__logo.--stripe
            margin: 0 auto

        .__box.--delete
            text-align: center

        .__button.--delete
            font-size: $size_tiny
            line-height: 1.25

        .__button.--delete:after
            display: block
            margin: 1rem auto 0

    +respond--medium
        grid-column: 2 / -2

        .__box.--update
            height: 9rem

        // Set relative position to do vertically align at the middle
        .__status, .__button.--update, .__logo--stripe
            display: inline-block
            position: relative

        .__status
            margin: 0 -0.5rem 0 1.5rem
            top: -0.6rem

        .__status:before
            display: block
            position: relative
            left: 1.5rem

        .__button.--update
            margin: 0 2.4rem
            top: -0.9rem

        .__logo.--stripe
            top: 1.5rem
            right: -21.5rem

        .__box.--delete
            height: 6rem

        .__button.--delete
            margin: 0.5rem 3rem 1rem 20.4rem

        .__button.--delete:after
            display: inline-block
            position: relative
            top: 0.7rem
            left: 1rem


.payment-intro
    font-style: italic

    .__em
        font-style: normal

    .__link
        +text--link

    +respond--mini
        grid-column: 2
        margin: 3rem 0 0
        font-size: $size_small

        .__text:first-child
            margin: 0 0 3rem

    +respond--small
        grid-column: 2 / -2
        margin: 3rem 0 0

        .__text:first-child
            margin: 0 0 4.5rem

    +respond--medium
        grid-column: 4 / -3
        margin: 3rem 0 0

        .__text:first-child
            margin: 0 0 4.5rem
