// _alerts.sass
//
// Site-wide alerts and basic styling for contextual alerts.


// Navbar alert wrapper
.site-alerts
    grid-area: main
    justify-self: center
    z-index: 5
    height: 0
    display: grid

    +respond--mini
        grid-template-columns: $grid-columns--mini
    +respond--small
        grid-template-columns: $grid-columns--small
    +respond--medium
        grid-template-columns: $grid-columns--medium


// Close and expand input elements
.alert-close, .alert-expand
    position: relative
    top: 4.5rem
    height: 4.5rem
    // Offset the height to vertically position in place
    margin-top: -4.5rem
    cursor: pointer
    opacity: 0

.alert-close
    left: 1.5rem
    width: 4.5rem

// Alert initial state
.alert-box
    $box-shadow1: 0 0.5rem 1rem rgba(255, 255, 255, 0.2)
    $box-shadow2: -1rem 0.5rem 1.5rem rgba(255, 255, 255, 0.5)
    $box-shadow3: 1rem 0.5rem 1.5rem rgba(255, 255, 255, 0.5)
    height: 4.5rem
    border-radius: 0.3rem
    box-shadow: $box-shadow1, $box-shadow2, $box-shadow3

    .__title
        margin: 0.8rem auto 0.2rem
        padding: 0 4.5rem 0 3rem
        font-size: $size_small
        line-height: 3rem
        font-family: $font-family
        font-weight: $weight_ultra-bold
        text-align: center

    .__body
        display: none

    .__msg
        font-weight: $weight_normal
        font-size: $size_small
        line-height: 3rem
        font-family: $font-family

    .__img
        display: block
        content: " "


// Close icon initial position
.alert-box:before
    +image($alert-close)
    display: block
    float: right
    width: 1.8rem
    height: 1.8rem
    margin: 1.25rem
    content: " "
    cursor: pointer

// Hide all the alert elements after the close element is pressed
.alert-close:checked,
.alert-close:checked + .alert-box,
.alert-close:checked + .alert-expand,
.alert-close:checked + .alert-expand + .alert-box
    display: none

// Hide the expand element after it is pressed
.alert-expand:checked
    display: none

// Re-position close icon when alert is expanded
// Also the initial position for page alerts
.alert-box.--page:before,
.alert-expand:checked + .alert-box:before
    margin: -1.75rem -1.75rem 0 0

// Alert appearance when expanded
// Page alerts are displayed in full by default and have no expand input
.alert-box.--page,
.alert-expand:checked + .alert-box
    height: unset
    padding: 3rem
    box-shadow: none

    // Expand message body
    .__body
        display: block

    // Change title font size and position
    .__title
        font-weight: $weight_bold
        font-size: $size_large
        line-height: 3rem
        font-family: $font-family
        overflow: hidden
        height: 3rem
        margin-right: 3rem
        margin-bottom: 3rem
        padding: 0
        text-align: left

// Different alert categories
.alert-box.--info
    border-bottom: 0.3rem solid $alert__fg--info
    background: $alert__bg--info

    .__title, .__msg
        color: $alert__fg--info

    .__img
        +image($alert-me-info)
        position: relative
        float: right
        top: 8.4rem
        right: -6rem
        width: 13rem
        height: 15.8rem
        // Offset its height when positioning vertically
        margin-top: -15.8rem

.alert-box.--success
    border-bottom: 0.3rem solid $alert__fg--success
    background: $alert__bg--success

    .__title, .__msg
        color: $alert__fg--success

    .__img
        +image($alert-me-success)
        position: relative
        float: right
        top: 6.3rem
        right: -6rem
        width: 14.4rem
        height: 13.4rem
        // Offset its height when positioning vertically
        margin-top: -13.4rem

.alert-box.--warning
    border-bottom: 0.3rem solid $alert__fg--warning
    background: $alert__bg--warning

    .__title, .__msg
        color: $alert__fg--warning

    .__img
        +image($alert-me-warning)
        position: relative
        top: 7.5rem
        left: -6rem
        width: 11.7rem
        height: 18.5rem
        // Offset its height when positioning vertically
        margin-top: -18.5rem

.alert-box.--warning.--img
    .__msg:after
        position: relative
        display: inline-block
        content: " "

.alert-box.--danger
    border-bottom: 0.3rem solid $alert__fg--danger
    background: $alert__bg--danger

    .__title, .__msg
        color: $alert__fg--danger

    .__img
        +image($alert-me-danger)
        position: relative
        top: 7.5rem
        left: -6rem
        width: 12.1rem
        height: 20rem
        // Offset its height when positioning vertically
        margin-top: -20rem

// Tab linking to the notification area
.alert-tab
    position: relative
    top: -1rem
    z-index: -1
    padding: 1rem 0 0 0
    border-radius: 0.6rem
    background-image: linear-gradient($green, $green-dark)
    text-align: center

    &:hover
        transform: translateY(0.5rem)

    .__link
        text-shadow: 0.2rem 0.2rem 0 darken($green-dark, 5%)
        color: $white
        font-size: $size_small
        line-height: 3rem
        font-family: $font-family
        font-weight: $weight_ultra-bold
        text-decoration: none


+respond--mini
    .alert-close, .alert-expand, .alert-box, .alert-tab
        grid-column: 1 / last

    .alert-close
        left: 23.5rem

    .alert-expand
        max-width: 18rem

    // Hide image on smaller widths
    .alert-box .__img
        display: none

    .alert-expand:checked + .alert-box
        .__title
            margin-bottom: 1.5rem
            font-size: $size_medium

        .__msg
            font-size: $size_small

    // Add bottom margin to provide space between multiple page alerts
    .alert-box.--page
        margin-bottom: 3rem

    // Hide image in warning alert variation with image (for /dashboard)
    .alert-box.--warning.--img .__msg:after
        display: none

    // Shorten translate distance in hover state
    .alert-tab:hover
        transform: translateY(0.2rem)


+respond--small
    .alert-close
        grid-column: 8 / span 1

    .alert-expand
        grid-column: 2 / -3

    .alert-box
        grid-column: 2 / -2

        // Hide image on smaller widths
        .__img
            display: none

    .alert-expand:checked + .alert-box
        .__title
            margin-bottom: 1.5rem
            font-size: $size_medium

        .__msg
            font-size: $size_small

    // Add bottom margin to provide space between multiple page alerts
    .alert-box.--page
        margin-bottom: 3rem

    // Hide image in warning alert variation with image (for /dashboard)
    .alert-box.--warning.--img .__msg:after
        display: none

    .alert-tab
        grid-column: 3 / -3


+respond--medium
    .alert-close
        grid-column: 16 / span 1

    .alert-expand
        grid-column: 2 / -3

    .alert-box
        grid-column: 2 / -2

        // Constrain message width to make room for image
        .__msg
            max-width: 51rem

    // Warning and danger alerts have a left-positioned image
    // Add margin to make room for the image
    .alert-box.--page.--warning,
    .alert-box.--page.--danger,
    .alert-expand:checked + .alert-box.--warning,
    .alert-expand:checked + .alert-box.--danger
        .__title, .__msg
            margin-left: 12rem

    // Warning alert variation with image (for /dashboard)
    .alert-box.--warning.--img
        .__msg
            max-width: 33rem

        .__msg:after
            left: 33rem

    // Add bottom margin to provide space between multiple page alerts
    .alert-box.--page
        margin-bottom: 6rem

    // Align close and expand inputs on dashboard alerts
    .alert-close--dashboard
        margin: -4.5rem 4.5rem 0 0

    .alert-expand--dashboard
        margin: -4.5rem 0 0 3rem

    // Add bottom margin to provide space between multiple dashboard alerts
    .alert-expand.--dashboard:checked + .alert-box.--dashboard
        margin-bottom: 9rem

    .alert-tab
        grid-column: 7 / -7
