// Dropdown menu for smaller widths
+respond--small
    .top-navbar
        align-items: center

        .__link:focus
            outline: 0

    // Anchor the navbar logo and menu label position
    // relative to the center of screen width
    .navbar-logo
        display: block
        flex: 1 1 50%

        .__img
            +image($navbar-logo)
            width: 3.8rem
            height: 4rem
            margin: auto 12.9rem auto auto

    // Top-level menu and submenu toggles
    .menu-toggle, .about-toggle, .account-toggle
        opacity: 0
        cursor: pointer

    .menu-toggle
        // Layer the toggle over the label
        position: absolute
        top: 0
        left: 50%
        width: 50%
        height: 6rem
        opacity: 0

    // Menu toggle label
    .menu-label
        flex: 1 1 50%
        padding: 0 0 0 9rem
        width: 12rem
        height: 3rem
        line-height: 3rem
        font-size: $size_medium
        color: $blue-dark
        font-family: $font-family
        font-weight: $weight_bold

    // Menu icon
    .menu-label:before
        +image($navbar-menu-open)
        display: inline-block
        width: 1.7rem
        height: 1.5rem
        margin: 0 0.6rem 0 0
        content: " "

    // Show menu when checkbox is touched
    .menu-toggle:checked + .menu-label + .navbar-menu
        display: block

    // Swap menu icon when checkbox is touched
    .menu-toggle:checked + .menu-label:before
        +image($navbar-menu-close)
        width: 1.3rem
        height: 1.3rem
        // Adjust margin for the icon's smaller width in toggled state
        margin: 0 1rem 0 0

    // Hide menu until toggled
    .navbar-menu
        position: absolute
        z-index: 5
        top: 6rem
        left: 0
        display: none
        width: 100%
        text-align: center

    // Menu links fill the screen width
    .navbar-menu .__link,
    .about-label, .account-label
        display: inline-block
        width: 100%
        padding: 1.7rem
        height: 6rem
        border-top: 0.1rem solid #2a7ba1
        color: $white
        background: $blue-dark
        font-size: $size_medium
        line-height: 3rem
        font-weight: $weight_bold
        font-family: $font-family
        text-decoration: none

    // Change label background color on hover
    .navbar-menu .__link:hover,
    .about-toggle:hover + .about-label,
    .account-toggle:hover + .account-label
        background: #4d8dad

    // Sub-menu links
    .about-menu .__link, .account-menu .__link
        border-top: 0.1rem solid #09628e
        background: #2e799f

    // Sub-menu label arrows
    .about-label:after, .account-label:after
        +image($navbar-menu-arrow)
        width: 2.2rem
        height: 1.1rem
        content: " "

    // Account label icon
    .account-label:before
        +image($navbar-menu-user)
        display: inline-block
        width: 1.3rem
        height: 1.4rem
        margin: 0.9rem 0.9rem 0 auto
        content: " "

    // Position toggles over their corresponding labels
    .about-toggle, .account-toggle
        width: 100%
        height: 6rem
        position: absolute
        left: 0

    // Log in/out icon
    .navbar-menu .__link.--login:before,
    .account-menu .__link.--logout:before
        display: inline-block
        margin: 0 0.6rem 0 0
        +image($navbar-auth)
        width: 1.5rem
        height: 1.2rem
        content: " "
        filter: brightness(500%)

    // Add drop shadow to the last menu item
    .navbar-menu .__link.--login,
    .account-label, .account-menu:last-child
        box-shadow: 0 0 1.5rem 0.1rem transparentize($drop-shadow, 0.6)

    // Remove drop shadow from account sub-menu toggle
    // when the sub-menu is expanded
    .account-toggle:checked + .account-label
        box-shadow: none

    // Show sub-menus when toggled
    .about-toggle:checked + .about-label + .about-menu,
    .account-toggle:checked + .account-label + .account-menu
        display: block

    // Hide sub-menus and label arrows until toggled
    .about-menu, .about-label:after,
    .account-menu, .account-label:after
        display: none

    // When a sub-menu is toggled, show corresponding label arrow
    .about-toggle:checked + .about-label:after,
    .account-toggle:checked + .account-label:after
        position: relative
        top: 1.2rem
        display: block
        margin: auto
