// devel.sass
//
// Development mode tools.


@import _variables
@import _mixins


///////////////////
// Devel mode UI //
///////////////////

// Devel mode indicator
.devel-header
    position: absolute
    z-index: 49
    width: 100%
    height: 0.4rem
    background-color: $gold
    display: flex
    justify-content: center

// Devel notes tab
.devel-tab
    z-index: 48
    display: grid
    height: 0

    +respond--mini
        grid-template-columns: $grid-columns--mini
    +respond--small
        grid-template-columns: $grid-columns--small
    +respond--medium
        grid-template-columns: $grid-columns--medium

    .__link
        display: block
        width: 6rem
        border-radius: 0.3rem
        background: $gold
        color: $blue-dark
        font-weight: $weight_bold
        font-size: $size_small
        line-height: 3rem
        font-family: $font-family
        text-decoration: none
        text-align: center

        +respond--mini
            grid-column-start: 2
            position: relative
            left: 6rem

        +respond--small
            grid-column-start: 3

        +respond--medium
            grid-column-start: -6


// Tool buttons
.tool-toggle,
.tool-label, .tool-label:after
    position: fixed
    left: 0
    width: 3rem
    height: 3rem

.tool-toggle
    z-index: 52
    cursor: pointer
    opacity: 0

.tool-label
    z-index: 51

.tool-label:after
    display: inline-block
    z-index: 51
    padding: 0.2rem 0 0 0
    border-radius: 0.4rem
    background: $gold
    color: darken($gold, 35%)
    font-weight: $weight_semi-bold
    font-size: $size_medium
    line-height: 3rem
    font-family: $font-family
    opacity: 0.1
    text-align: center
    transition: opacity 0.3s ease

.tool-toggle:checked + .tool-label:after
    opacity: 0.5

.tool-toggle:hover + .tool-label:after
    opacity: 1.0


//////////////////
// Grid overlay //
//////////////////

// Grid colors
$cl: transparentize($blue-dark, 0.9)
$tn: transparent

// Spacing in grid units
$gu: 3rem
$gu2: $gu * 2
$gu2m: $gu2 - 0.1
$gu3: $gu * 3
$gu3m: $gu3 - 0.1

// Grid of vertical lines (small and medium)
$vg1-1: repeating-linear-gradient(-90deg, $tn, $tn $gu3m, $cl $gu3m, $cl $gu3)
$vg1-2: repeating-linear-gradient(-90deg, $tn, $tn $gu2m, $cl, $tn $gu2)
$vg1-3: repeating-linear-gradient(-90deg, $tn, $cl $gu3)

// Grid of vertical lines (mini)
$vg2-1: linear-gradient(90deg, $tn 0, $cl 0.1rem, $tn 0.1rem, $cl)
$vg2-2: linear-gradient(90deg, $tn 0, $cl 0.1rem, $tn 0.1rem, $cl)

// Grid of horizontal lines
$hg: repeating-linear-gradient(0deg, $tn, $tn ($gu - 0.1), $cl, $tn $gu)

.devel-grid
    position: absolute
    z-index: 50
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: none
    margin: 0 auto
    pointer-events: none

    +respond--mini
        width: $grid-width--mini
        background-image: $vg2-1, $vg2-2, $hg
        background-size: 25rem 100vh
        background-position: 0 0, -22rem 0

    +respond--small
        width: $grid-width--small
        background-image: $vg1-1, $vg1-2, $vg1-3, $hg
        background-size: $gu3 $gu3

    +respond--medium
        width: $grid-width--medium
        background-image: $vg1-1, $vg1-2, $vg1-3, $hg
        background-size: $gu3 $gu3


// Grid parent needs to be in relative position
// for the grid to expand to full height
body
    position: relative

.tool-label.--grid:after
    content: "#"

.tool-toggle.--grid:checked + .tool-label + .devel-grid
    display: block

.tool-toggle.--grid,
.tool-label.--grid, .tool-label.--grid:after
    top: 0


////////////////////
// Mockup overlay //
////////////////////

.devel-mockup
    position: absolute
    top: 0
    display: none
    width: 100%
    height: 300rem
    opacity: 0.2
    pointer-events: none

.tool-label.--mockup:after
    content: "M"

.tool-toggle.--mockup:checked + .tool-label + .devel-mockup
    display: block

.tool-toggle.--mockup,
.tool-label.--mockup, .tool-label.--mockup:after
    top: 3rem
